# for each folder in anda/
# generate a new workflow for each folder in anda/
name: Automatically build packages
permissions:
  contents: read
on:
  push:
    paths:
      - anda/**
    branches:
      - f42
  pull_request:
    branches:
      - f42
  merge_group:
    branches:
      - f42
  workflow_dispatch:
  workflow_call:

jobs:
  manifest:
    runs-on: ubuntu-22.04
    outputs:
      build_matrix: ${{ steps.generate_build_matrix.outputs.build_matrix }}
    container:
      image: ghcr.io/terrapkg/builder:f42
      options: --cap-add=SYS_ADMIN --privileged
    steps:
      - name: Set workspace as safe
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Generate build matrix
        id: generate_build_matrix
        run: anda ci >> $GITHUB_OUTPUT
  build:
    needs: manifest
    uses: ./.github/workflows/json-build.yml
    secrets: inherit
    with:
      packages: ${{ needs.manifest.outputs.build_matrix }}
      publish: ${{ github.event_name == 'push' }}
